{% extends "themes/base_admin.html.twig" %}

{% block title %}{{post.title}} {% endblock %}

{% block description %}{{post.title}}{% endblock %}

{% block main %}
       <h1 class="text-center my-3 display-5">{{post.title}}</h1>

       <div class="container text-center">
           {% if post.image %}
                     <img class="img-fluid" src="{{ vich_uploader_asset(post, 'imageFile')}}" alt="{{ post.title }}">
           {% endif %}     
       </div>  

       <div class="container my-5">
       {{post.content|raw}}
       </div>

{% endblock %}