{% extends "themes/base_visitor.html.twig" %}

{% block title %}Page de contact{% endblock %}

{% block description %}Contactez-moi si vous avez des question ou des idées{% endblock %}

{% block keywords %}Blog, NANA Marie, actualité, Afrique, Articles, Contact{% endblock %}

{% block main %}
    <main>
        {% include 'components/header_visitor.html.twig' with {'h1':'Page de contact'} %}

        <div class="container my-5">
            <div class="row">
                <div class="col-md-7">

                    {% include 'components/alert.html.twig' with {'type':'success'} %}

                    {{form_start(form)}}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="contact_form_firstName">Prénom</label>
                                    <div class="text-danger">{{form_errors(form.firstName)}}</div>
                                    {{form_widget(form.firstName, {'attr': {'class':'form-control'}})}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="contact_form_lastName">Nom</label>
                                    <div class="text-danger">{{form_errors(form.lastName)}}</div>
                                    {{form_widget(form.lastName, {'attr': {'class':'form-control'}})}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="contact_form_email">Email</label>
                                    <div class="text-danger">{{form_errors(form.email)}}</div>
                                    {{form_widget(form.email, {'attr': {'class':'form-control'}})}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="contact_form_phone">Numéro de téléphone</label>
                                    <div class="text-danger">{{form_errors(form.phone)}}</div>
                                    {{form_widget(form.phone, {'attr': {'class':'form-control'}})}}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="contact_form_message">Message</label>
                            <div class="text-danger">{{form_errors(form.message)}}</div>
                            {{form_widget(form.message, {'attr': {'class':'form-control'}})}}
                        </div>
                        <div class="mb-3">
                            <input formnovalidate type="submit" class="btn btn-rose white">
                        </div>
                    {{form_end(form)}}
                </div>
                <div class="col-md-5">
                    <p><strong>Email</strong>: {{setting.email}}</p>
                    {% if setting.phone %}
                        <p><strong>Email</strong>: {{setting.phone}}</p>
                    {% endif %}
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10493.117974978079!2d2.2330441970907824!3d48.89101039783292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66505aaadd1dd%3A0xf187c86ce82c7889!2sLa%20D%C3%A9fense!5e0!3m2!1sfr!2sfr!4v1703659626057!5m2!1sfr!2sfr" 
                        
                        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>
{% endblock %}