{% extends 'themes/base_admin.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block description %}Modifier le mot de passe{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Modifier le mot de passe</h1>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                {{form_start(form)}}
                    <div class="mb-3">
                            <label for="registration_form_password_first">Le mot de passe actuel</label>
                            <div class="text-danger">{{ form_errors(form.currentPassword) }}</div>
                            {{ form_widget(form.currentPassword, {'attr' : {'class': 'form-control'}}) }}
                            <small><em>Les mots de passe doivent au moins avoir 12 caractères.</em></small>
                    </div>
                    <div class="mb-3">
                            <label for="registration_form_password_first">Le nouveau mot de passe</label>
                            <div class="text-danger">{{ form_errors(form.password.first) }}</div>
                            {{ form_widget(form.password.first, {'attr' : {'class': 'form-control'}}) }}
                            <small><em>Les mots de passe doivent au moins avoir 12 caractères.</em></small>
                    </div>
                    <div class="mb-3">
                            <label for="registration_form_password_first">La confirmation du nouveau mot de passe</label>
                            <div class="text-danger">{{ form_errors(form.password.second) }}</div>
                            {{ form_widget(form.password.second, {'attr' : {'class': 'form-control'}}) }}
                            <small><em>Les mots de passe doivent au moins avoir 12 caractères.</em></small>
                    </div>
                    <div>
                        <input formnovalidate type="submit" value="Modifier" class="btn btn-primary" >
                    </div>
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}