{% extends 'themes/base_admin.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block description %}Mon profil{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Mon profil</h1>

    {% include 'components/alert.html.twig' with {'type': "success"} %}

    <div class="container mt-5">
        <div class="col-md-6 mx-auto">
            <div class="card">
              <div class="card-body">
                <p class="card-text">Prénom: {{app.user.firstName}}</p>
                <p class="card-text">Nom: {{app.user.lastName}}</p>
                <p class="card-text">Email: {{app.user.email}}</p>
                <a href="{{path('admin.profile.edit')}}" class="btn btn-primary m-2">Modifier le profil</a>
                <a href="{{path('admin.profile.edit.password')}}" class="btn btn-dark m-2">Modifier le mot de passe</a>
              </div>
            </div>
        </div>
    </div>
{% endblock %}