{% extends 'themes/base_admin.html.twig' %}

{% block title %}Modifier les paramètres{% endblock %}

{% block description %}Modifier les paramètres{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Modifier les paramètres</h1>

    <div class="container mt-5">
        <div class="col-md-6 mx-auto">
            {{form_start(form)}}
                <div class="mb-3">
                    <label for="setting_form_email">Email</label>
                    <div class="text-danger">{{form_errors(form.email)}}</div>
                    {{form_widget(form.email, {'attr': {'class':'form-control', 'autofocus':'autofocus'}})}}
                </div>
                <div class="mb-3">
                    <label for="setting_form_phone">Phone</label>
                    <div class="text-danger">{{form_errors(form.phone)}}</div>
                    {{form_widget(form.phone, {'attr': {'class':'form-control'}})}}
                </div>
                <div>
                    <input formnovalidate type="submit" class="btn btn-primary" value="Modifier">
                </div>
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}