<!DOCTYPE html>
<html lang="fr">
<head>

    {# Encodage des caractères pour le web #}
    <meta charset="UTF-8">

    {# Minimum de responsive design à toujours mettre en place #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Le titre de la page #}
    <title>{% block title %}{% endblock %} - Venus</title>

                                    {# SEO #}
    {# description de la page #}
    <meta name="description" content="{% block description %}{% endblock %}">

    {# Mots clés #}
    <meta name="keywords" content="{% block keywords %}{% endblock %}">

    <meta name="robots" content="index, follow">

    {# Favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {# Font awesome #}
    {% block fontAwesome %}{% endblock %}

    {# Google font #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap" rel="stylesheet">

    {# Bootstrap 5 StyleSheet #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    {# link css #}
    <link rel="stylesheet" href="/css/app.css">

</head>
<body class="body-visitor">
    
    {# Navbar #}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{path('visitor.welcome.index')}}">JD</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{path('visitor.welcome.index')}}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Qui suis-je</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('visitor.blog.index')}}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('visitor.contact.create')}}">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="">Espace privé</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('visitor.authentication.logout')}}">Déconnexion</a>
                    </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path('visitor.authentication.login')}}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('visitor.registration.register')}}">Inscription</a>
                </li>
                {% endif %}
                
            </ul>
          </div>
        </div>
    </nav>

    {# Le contenu correspondant à chaque page #}
    <main>
        {% block main %}{% endblock %}
    </main>
    
    {# Footer #}
    <footer class="text-center">
        <p>DWWM</p>
    </footer>

    {# Bootstrap 5 Javascrip t #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 
</body>
</html>